

.header{
    background-color: #01c0c8;
    height: 120px;
    color: #FFFFFF;
    }
    
    .tms{
        text-align: center;
    margin-top:30px;
    font-family: Poppins;
    font-size: 35px;
    margin-left: 100px;
    
    }
    .user{
    margin-top:20px;
    font-family: Poppins;
    font-size: 15px;
    margin-left: 150px;
    }
    .logout, .configure{
    color: #4a50d5;
    font-family: Poppins;
    font-size: 15px;
    margin-left: 150px;
    }
    .hidden{
        visibility: hidden;
       
    }
    .logo{
    width: 300px;
    height: 100px;
    margin-top: 20px;
    
    }

    
    
    